<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <img src="../../assets/logo.png" alt="">
                <h4>Register </h4>
            <form [formGroup]="registerForm" (ngSubmit)="signUp()">
            <input type="text" placeholder="User Name"  class="text" name="userName" formControlName="userName" >
            <div class="error"  *ngIf="(registerForm.get('userName')?.touched || registerForm.get('userName')?.dirty) && registerForm.get('userName')?.errors">Invalid username</div><br><br>

            <input type="password" placeholder="password" class="text" name="password" formControlName="password">
            <div class="error"  *ngIf="(registerForm.get('password')?.touched || registerForm.get('password')?.dirty) && registerForm.get('password')?.errors">Invalid password</div><br><br>

            <input type="submit" value="Register" class="bn" ><br><br>
        
            
            </form>    
            
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>


